#h1{
    position: absolute;
    margin-left: 20%; 
    margin-top: 0%; 
    margin-top: 0%; 
    font-family: sans-serif;
    font-size: 800%;
    font-weight: 900;
    letter-spacing: -15px;
    color: saddlebrown;
}
.p1{
    position: absolute;
    margin-left: 50%;
    margin-top: 125px;
    font-family: sans-serif;
    font-size: 300%;
    font-weight: 730;
    letter-spacing: -5px;
    color: rgba(187, 92, 25, 0.842);
}

.p2{
    position: absolute;
    margin-left: 50%;
    margin-right: 8%;
    margin-top: 160px;
    font-family: sans-serif;
    font-size: 70%;
    font-weight: 900;
    text-align: justify;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgba(139, 69, 19, 0.39);
}

p{
    color: black;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 650;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0px;
}

.box{
    position: relative;
    box-sizing: border-box;
    margin-left: 23%;
    margin-top: 0%;
    padding-top: 0%;
    width: 800px; 
    height: 300px;
    background: rgb(247, 232, 167);
    box-shadow: -50px 50px 50px 0px rgba(131, 62, 13, 0.719);
}

body{
    background-image: url('../assets/foto/bg.png');
    background-repeat: repeat-y repeat-x;
    box-sizing: content-box;
    margin-left: 0%;
    font-family: sans-serif
    width: 800px;
    
}   

h2{
    font-family: sans-serif;
    font-size: 400%;
    font-weight: 725;
    letter-spacing: -6px;
    color: rgb(170, 88, 29);  
    animation: textshadow 8s infinite alternate
}  
@keyframes textshadow {
	0%   { text-shadow: 1px 1px 0px rgb(73, 33, 0) }
	10%   { text-shadow: 3px 3px 2px rgb(73, 33, 0) }
	20%  { text-shadow: 9px 10px 6px rgb(117, 53, 0) }
	40%  { text-shadow: 10px 15px 6px rgb(117, 53, 0) }
	60%  { text-shadow: 0px 10px 4px rgb(117, 53, 0) }
	80%  { text-shadow: -10px 8px 3px rgb(139, 63, 0) }
	100%  { text-shadow: 1px 5px 1px rgb(199, 90, 0) }
}
.headh2{
    margin-left: 23%;
    margin-top: 10%;
}

.container {
   box-sizing: border-box;
   width: 800px;
   padding-left: 23%;
    }

.container2{
    box-sizing: border-box;
    width: 800px;
    margin-left: 23%;
}

.box2{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 250px;
    margin-left: 23%;
    background-color: rgba(170, 170, 170, 0.753);
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 510;
    text-align: justify;
    line-height: 30px;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.box3{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    margin-left: 23%;
    background-color: rgba(170, 170, 170, 0.753);
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 510;
    text-align: justify;
    line-height: 30px;
    padding-top: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.box4{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 23%;
    margin-top: 12px;
    background-color: rgba(170, 170, 170, 0.753);
}

.p3{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 510;
    text-align: justify;
    line-height: 30px;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.p4{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 100;
    text-align: justify;
    line-height: 0px;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.p5{
    color: rgba(170, 170, 170, 0.753);
    font-family: sans-serif;
    font-size: 75%;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 23%;
}

#video{
    width: 800px;
    padding-left: 23%;
}

nav{
    position: fixed;
    top: 0%;
    right: 101px;
    margin-top: 0%;
    padding-top: 0%;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: rgba(139, 69, 19, 0.795);
    border-radius: 5px;
}

li {
    position: flex;
    top: 0%;
    right: 17.2%;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 701;
    font-size: 12px;
    padding: 11px;
    border-radius: 5px;
}

li a:hover {
    color:  rgb(247, 232, 167);
    opacity: 50%;
}

.current {
    background-color: rgb(247, 232, 167);
    font-size: 14px;
}

#portfolio:hover{
    color: black;
    opacity: 50%;
}

#about:hover{
    color: black;
    opacity: 50%;
}

#contact:hover{
    color: black;
    opacity: 50%;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 228px;
    margin-left: 340px;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.5;
  }
  
  /* Set a specific color for each brand */
  
  /* Instagram */
  .fa-instagram {
      background: saddlebrown;
    color: rgb(247, 232, 167);
  }

